{% load socialaccount %}

<div class="row">
{% if user.is_authenticated %}
<button class="btn btn-success mr-1">
  Welcome, {{ user.email }} !
  </button>


  <form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-danger" type="submit">Logout</button>
	</form>

{% else %}



  <a href="{% provider_login_url 'google' %}" class="nounderline">
  	<button type="button" class="btn btn-warning ">

  	<div class="text-danger font-weight-bold ">
  		Login With Google
  	</div>
  	</button>
  </a>


</div>

{% endif %}
